// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #da342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Theme Colors
$main-clr: #5BC43A;
$dark-main-clr: #4b4b4b;
$light-main-clr: #d7e0ad;
$light-grey: #fbfaf9;
$dark-grey: #596152;
$shadow-grey: #f7f5f2;
$grey: #a8a8a8;
$black: #242424;

//Breadcrumb Divider
$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
