// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/*---------------------BODY---------------------*/

* {
    box-sizing: border-box;
}

body {
    position: relative;
    color: $black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

#app {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*---------------------TEXT---------------------*/
h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: $black;
    @media screen and (max-width: 992px) {
        font-size: 1.4rem;
    }
}
h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 22px;
    color: $dark-grey;

    @media screen and (max-width: 992px) {
        font-size: 1.2rem;
    }
}

h5 {
    letter-spacing: 0.04rem;
    font-weight: 600;
    font-size: 16px;
    color: $black;
    text-transform: uppercase;
}

.fancy-text {
    color: $main-clr;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}

h6 {
    color: $main-clr;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}

.text-title {
    font-size: 1rem;
    font-weight: 500;
    color: $black;
    width: 210px;
    word-wrap: break-word;
    word-break: keep-all;
}
.text-small {
    font-size: 0.82rem;
    margin-top: 12px;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
strong {
    font-weight: 600;
}
.to-uppercase {
    text-transform: uppercase;
}
.text-main {
    color: $black;
}
.green {
    color: $main-clr;
}

/*---------------------NAVIGATION---------------------*/
.nav-logo {
    font-weight: 800;
    font-size: 22px;
    line-height: 31px;
    text-transform: uppercase;
    color: $black;
}
.sidenav {
    min-height: 100vh;
    background-color: #ffffff;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 25px 35px;

    .nav-logo {
        margin-bottom: 42px;
    }
    .nav-link,
    .sidebar-heading {
        cursor: pointer;
        text-decoration: none;
        color: $dark-grey;
        padding: 14px 25px;
        border-radius: 20px;
        font-size: 0.85rem;
        font-weight: 600;
        letter-spacing: 0.04rem;
        transition: all 250ms ease;

        &:hover {
            color: $main-clr;
            svg > path {
                fill: $main-clr;
            }
        }

        svg {
            margin-right: 17px;
        }
    }
    .active {
        color: $light-grey !important;
        background-color: $dark-grey;
        svg > path {
            fill: $light-grey;
        }
    }
}

#main {
    margin-left: 300px;
    transition: 0.5s;
    background-color: $light-grey;
    min-height: 100vh;
}

@mixin enlarge {
    margin-left: 90px;
}
@mixin min-nav {
    width: 90px;
    padding: 25px 15px;
    .nav-link,
    .sidebar-heading {
        width: 60px;
        text-align: center;
        padding: 14px 15px;
        transition: all 250ms ease;
        svg {
            margin-right: 0;
        }
    }
    .nav-logo {
        margin-left: auto;
        margin-right: auto;
    }
    .hide {
        display: none;
    }
}

#main.enlarge {
    @include enlarge;
}
.minimize {
    @include min-nav;
}
.rotate {
    transform: rotate(180deg);
}

/*---------------------TOP NAV---------------------*/

.closebtn {
    cursor: pointer;
    margin-right: 20px;
    margin-left: -45px;
    transition: all 500ms ease-in-out;
    &:hover > svg > circle {
        fill: $main-clr;
    }
}

.username {
    color: $black !important;
    font-size: 15px !important;
    display: flex;
    align-items: center;

    &:hover {
        text-decoration: none;
        color: $main-clr !important;
    }
}
.user-pic {
    border-radius: 17px;
    width: 40px;
    height: 40px;
    margin: 0 12px;
    background-color: $black;
    object-fit: cover;
    img {
        border-radius: 17px;
    }
}

.top-navbar {
    padding: 18px 1rem;
    .navbar-toggler,
    .username {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
    }
}

/*---------------------DASHBOARD---------------------*/

.dashboard-card {
    padding: 30px;
    h1 {
        margin: 0;
        padding: 0;
        font-size: 48px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 0.02em;
        color: $dark-grey;
    }
}
.dash-link-sm {
    text-decoration: none;
    font-weight: 600;
    color: $main-clr;
    margin-left: 7px;
    svg {
        margin-left: 10px;
        transition: all 150ms ease;
    }
    &:hover {
        color: $dark-grey;
        svg {
            margin-left: 15px;
            path {
                fill: $dark-grey;
            }
        }
    }
}

/*---------------------FORM---------------------*/
.card {
    background-color: #ffffff;
    border: none;
    border-radius: 17px;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.close > .fa-times {
    color: $black !important;
    font-size: 19px;
}
.title-2 {
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    font-weight: 600;
}

.form-group {
    margin-bottom: 0.8rem;
}
.col-form-label {
    margin-bottom: 0.2rem;
}

.input-form {
    label {
        font-size: 13px;
        letter-spacing: 0.03rem;
        color: #686868;
        font-weight: 400;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    input[type="number"],
    select,
    optgroup,
    textarea {
        border: none;
        box-shadow: $shadow-grey 0 0 0 0.05rem;
        border-radius: 0.3rem;
        resize: none;
        background-color: $light-grey;

        &:focus {
            border: none;
            outline: none;
            box-shadow: $light-main-clr 0 0 0 0.07rem;
            color: $black;
            background-color: white;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
        }
    }

    .input-group-text {
        background-color: $shadow-grey;
        border: none;
        box-shadow: $shadow-grey 0 0 0 0.05rem;
        border-radius: 0.3rem;
    }
}

@mixin file-label {
    padding: 9px 12px !important;
    height: auto !important;
    border: none !important;
    box-shadow: $shadow-grey 0 0 0 0.05rem !important;
    border-radius: 0.3rem !important;
    margin: 0 !important;
}

.custom-file-label {
    @include file-label;
    font-weight: 500 !important;
    color: #888888 !important;
}

.custom-file-label::after {
    @include file-label;
    font-weight: 600 !important;
    color: $main-clr !important;
    text-transform: uppercase;
    display: block;
    content: "Browse";
    background-color: $light-grey;
    border-left: inherit;
}

/*---------------------SEARCH---------------------*/

.search-box {
    min-width: 200px;
    border-radius: 17px;
    resize: none;
    background-color: #ffffff;
    border: none;
    padding: 1.3rem 1.3rem 1.3rem 0.5rem;
    height: 45px;

    &:focus {
        border: none;
        outline: none;
        border-radius: 17px;
        box-shadow: none;
    }
}
.input-group-search {
    width: 300px;
}
.input-group-search:focus-within {
    border: none;
    outline: none;
    border-radius: 17px;
    box-shadow: $light-main-clr 0 0 0 0.07rem !important;
    color: $black;
    background-color: white !important;
}
.input-group-prepend-search {
    background-color: #ffffff;
    border: none;
    border-radius: 17px 0 0 17px;
    color: $main-clr;
    padding-left: 1.3rem;
}

/*---------------------MODAL---------------------*/
.modal-content {
    border-radius: 23px;
}
.modal-footer {
    border: none;
    padding: 0 35px 35px 35px;
}
.modal-header {
    border: none;
    padding: 18px 35px;
    background-color: $light-grey;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}
.modal-body {
    padding: 35px 35px 15px 35px;
}

/*---------------------BUTTON---------------------*/
.btn-submit,
.btn-new {
    padding: 0.6rem 1.3rem;
    height: 45px;
    letter-spacing: 0.05rem;
    line-height: 0;
    font-weight: 500;
    min-width: 140px;
    border-radius: 17px;
    background-color: $main-clr;
    color: white;
    text-transform: uppercase;

    a {
        text-decoration: none;
        color: white;
    }

    &:hover {
        color: white;
        background: $dark-grey;
    }
}

.btn-new {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
    margin: 0;

    @media screen and (max-width: 768px) {
        min-width: 30px;
        .hide {
            display: none;
        }
    }
}

.btn-control {
    padding: 0.4rem 1.2rem;
    min-width: 60px;
}

.btn-icon {
    color: $main-clr;
    &:focus {
        box-shadow: none;
        color: $light-main-clr;
    }
}

.sort {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    a,
    i.fas {
        line-height: 0.4rem;
    }
}

/*---------------------BADGE---------------------*/
.badge {
    padding: 0.5rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    border-radius: 6px;

    &-lg {
        font-size: 0.9rem;
        font-weight: 400;
        background-color: #ecece9;
    }
}
.badges{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/*---------------------ICONS---------------------*/
.fas,
.far {
    font-size: 1rem;
}

.fa-times-circle {
    font-size: 1.3rem;
    color: $dark-main-clr;
}

.table-fa {
    font-size: 1.04rem;
    text-decoration: none;
    color: $main-clr;
}

.back-fa {
    font-size: 1.8rem;
    text-decoration: none;
    color: $main-clr;

    &:hover {
        color: darken($main-clr, 15%);
    }
}

.link-fa {
    width: 1.2rem;
}

/*---------------------TABLE---------------------*/
.card-table {
    border-radius: 17px;
    padding: 0.7rem 1.4rem 1.6rem 1.4rem;
}
table {
    margin: 0 !important;
    color: $black !important;
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 15px;
}

th:first-child {
    padding-left: 30px !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
td:last-child {
    padding-right: 30px !important;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.table tbody th,
.table tbody td {
    border: none;
    padding: 20px 12px;
    background-color: rgba(250, 250, 248, 0.603);
}
.table thead th {
    color: $dark-grey;
    border-bottom: none;
    border-top: none;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    vertical-align: middle;
}

.th-sm {
    min-width: 140px !important;
}

.th-lg {
    min-width: 230px;
}

.th-3-btn {
    min-width: 150px !important;
}

.table-hover tbody tr:hover {
    background-color: $light-grey;
}

.add-member {
    text-align: center;
}

/*---------------BOOTSTRAP-PAGINATION---------------*/

.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 10px;
}

.page-link {
    color: $main-clr !important;
}

.page-item.active .page-link {
    background-color: $shadow-grey !important;
    color: $dark-main-clr !important;
    border-color: $shadow-grey !important;
}

/*---------------LOGIN---------------*/

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @media screen and (max-height: 600px) {
        margin: 45px 0;
    }

    h3 {
        margin: 10px 5px 30px 5px;
    }

    label {
        color: $main-clr;
    }

    .forgot-pwd {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        a {
            font-size: 0.8rem;
            letter-spacing: 0.03rem;
            color: $main-clr;
            font-weight: 600;
        }
    }
    .login-btn {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: -70px;
        button {
            width: 70%;
        }
    }
    .card {
        background-color: #ffffff;
        border: 1px solid $light-main-clr;
        padding: 8px 35px 25px 35px;
        box-shadow: none;
    }
    .card-header {
        background-color: transparent;
        border-bottom-color: #b6c0bf6b;
        font-size: 1rem;
        letter-spacing: 0.03rem;
        color: $grey;
        font-weight: 300;
    }
}

/*---------------TABBED CARD---------------*/
.tab-header {
    border-bottom: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    letter-spacing: 0.05rem;
    a {
        color: $dark-grey;
    }
}
.tab-card {
    background: transparent;

    .nav-tabs .nav-link {
        border: none;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 1.2rem 2rem;
        text-transform: uppercase;
        background: #f0f0ea;
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        background-color: #ffffff;
        border-bottom: 2px solid $main-clr;
    }
    .active {
        font-weight: 600 !important;
        color: $main-clr !important;
        background-color: transparent;
    }
}
.tab-content {
    background-color: #ffffff;
    color: $black;
    font-size: 1rem;
    padding: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    .active {
        color: $black !important;
    }
}

/*---------------PROFILE PIC---------------*/
.profile-info {
    position: relative;
    h2 {
        margin: 30px 10px 15px 10px;
    }
    p {
        margin: 15px;
    }
}
.profile-pic-section {
    position: relative;
    display: flex;
    //width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    background-color: $grey;
    background-image: url("../public/images/profilepic.jpg");
    background-size: contain;
}
.profile-pic-btn {
    position: absolute;
    margin-left: 120px;
    bottom: 0;
    background-color: $black;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .fas {
        color: #ffffff;
        font-size: 1.4rem;
    }
}
